@model comp4976assn2.Models.SmartModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SmartModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadDateReport.BadDateReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadDateReport.BadDateReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfAssault.CityOfAssault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfAssault.CityOfAssault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfResidence.CityOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence.CityOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugFacilitatedAssault.DrugFacilitatedAssault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugFacilitatedAssault.DrugFacilitatedAssault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidenceStored.EvidenceStored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidenceStored.EvidenceStored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HivMeds.HIVMeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HivMeds.HIVMeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalAttended.HospitalAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalAttended.HospitalAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalOnly.MedicalOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalOnly.MedicalOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiplePerpetrators.MultiplePerpetrators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiplePerpetrators.MultiplePerpetrators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAttendance.PoliceAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAttendance.PoliceAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceReported.PoliceReported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceReported.PoliceReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToCbvs.ReferredToCBVS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToCbvs.ReferredToCBVS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferringHospital.ReferringHospital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferringHospital.ReferringHospital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexWorkExploitation.SexWorkExploitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexWorkExploitation.SexWorkExploitation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialWorkAttendance.SocialWorkAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialWorkAttendance.SocialWorkAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyReport.ThirdPartyReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyReport.ThirdPartyReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimServicesAttendance.VictimServicesAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimServicesAttendance.VictimServicesAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberTransportsProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberTransportsProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToNurse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToNurse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientReferenceNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
